@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scroll bar */
@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9e8375;
  }
}
